/* You can add global styles to this file, and also import other style files */
.main-container {
    min-height: 800px;
    margin-bottom: 20px;
}
.main-container  a {
    padding: 20px;
}
.btn-links {
    margin-bottom: 20px;
}

.carousel-control.right, .carousel-control.left {
    cursor: pointer;
}